<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/public/demo/demo2.css" type="text/css" media="screen" title="no title" charset="utf-8" />
<title>Layout CSS</title>
</head>

<body align="center" >
  
<div id="wrapper">
	<div id="header">
		<img src="/public/demo/images/a1.jpg"  width="100%" height="150"/>               
	</div><!--End #header-->
        
        <div id="navMenu">
           <ul>
                <li><a href="@{demo.add}"> Home</a> 
                       <!-- <ul>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                             <li><a href="#"> Tam Trang</a></li>
                        </ul>
                           
                        -->
                </li>
            </ul>
            
            <ul>
                    <li><a href="#"> Cac Bai Dang</a> 
                        <ul>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                             <li><a href="#"> Tam Trang</a></li>
                        </ul>
                           
                        
                    </li>
                </ul>
                
                <ul>
                    <li><a href="#"> Cac Bai Dang</a> 
                        <ul>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                             <li><a href="#"> Tam Trang</a></li>
                        </ul>
                           
                        
                    </li>
                </ul>
                
                 <ul>
                    <li><a href="#"> Cac Bai Dang</a> 
                        <ul>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                             <li><a href="#"> Tam Trang</a></li>
                        </ul>
                           
                        
                    </li>
                </ul>
                
                 <ul>
                    <li><a href="#"> Cac Bai Dang</a> 
                        <ul>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                             <li><a href="#"> Tam Trang</a></li>
                        </ul>
                           
                        
                    </li>
                </ul>
             
                
            
            </div>
        </div>
        
	<div id="mainNav">
		<ul>
			<li><a href="#">Bai moi dang</a></li>
			<li><a href="#">Ban be</a></li>
			
		</ul>
	</div><!--End mainNav-->
	<div id="content">
            <p>&nbsp;</p>
    
		<h1>This is a header</h1>
		<p>
			Quản lý ảnh trên máy tính cá nhân là một vấn đề hết sức thú vị và quan trọng, nhất là hiện nay dung lượng máy tính ngày càng được tăng lên một cách chóng mặt. Thông thường, người ta vẫn quản lý ảnh theo dạng folder, trong đó mỗi folder làm thành một chuyên mục ảnh. Tuy nhiên, cách quản lý này hết sức hạn chế. Một trong những hạn chế dễ thấy đó là ta rất khó vừa để tên chuyên mục ảnh, vừa viết những dòng chú thích, cảm nhận cho chuyên mục ảnh đấy. Hơn nữa tên folder chỉ tối đa là 127 ký tự do đó cũng không thể vừa viết tên ảnh vừa viết cảm nhận vào cùng vị trí tên folder nếu như phần chú thích quá dài. Giải pháp tên folder làm tên chuyên mục ảnh, sau đó để viết chú thích cho chuyên mục ảnh đó, ta tạo một file text bên trong thư mục đó cũng khả thi, tuyên nhiên lại khá phức tạp.
		</p>
		<p>
		Với mục đích đưa ra một giải pháp quản lý ảnh trên máy tính cá nhân tiện ích, hấp dẫn chúng ta sẽ xây dựng phần mềm quản lý DuckyPMPC với những yêu cầu sau đây:
	Xây dựng một phần mềm quản lý ảnh cho phép người sử dụng quản lý thư viện ảnh trên máy tính cá nhân theo các chuyên mục. Cho phép liệt kê, thêm, thay đổi thông tin, xóa các chuyên mục. Xem chi tiết thông tin về một chuyên mục ảnh. Xem danh sách ảnh trong chuyên mục đó. Trình diễn ảnh trong chuyên mục.  Thêm ảnh vào chuyên mục, thay đổi thông tin cho ảnh, xóa ảnh khỏi chuyên mục hoặc xóa ảnh trực tiếp khỏi máy tính. Người dùng có thể tìm kiếm ảnh theo tên ảnh cũng như tìm kiếm ảnh theo tên ảnh.
		</p>
	</div><!--End #content-->
          <div id="footer">
		<p class="copyright">&copy;2012-09 izweb.com - All right reserved</p>
                <p>ngay ay va bay gio toi biet phai lam sao. sao dao nay minh luoi qua khong chiu co gang gi ca, luoi an sau vao trong mau roi</p>
	</div><!--End #footer-->
</div><!--End #wrapper-->
</body>
</html>