<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Bootstrap -->
        <link rel="stylesheet" media="screen" href="/public/bootstrap/css/bootstrap.min.css" />
        <script src="/public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    </head>
    <body>
        <!-- tìm hiểu vể bootshap-->
        <p> Bootstrap mặc định phông chữ là 14px, line-height là 14px cho Body và paragraphs</p>
        <!--  chữ to hơn  -->
        <p class="lead"> ngọc ánh </p>
        <p>Font-size và line-height mặc định user có thể cài đặt 1 font-size và line-height cho riêng  mìnhs</p>
        <p><small> một tên đáng ghét, tính tình không thay đổi gì cả, chẳng biết nghĩ cho người khác gì cả. </small></p>
        họ và tên: <strong> ngọc ánh</strong><br>
        họ và tên:<em> ngọc ánh</em><br>
        <i> ngọc ánh</i>   <b>CXT</b>
        <!--căn chỉnh lề đoạn text-->

        <p class="text-right"> ánh ngố</p>
        <p class="text-center">ánh ngố</p>
        <p class="text-left">ánh ngố</p>

        <!--         color    -->
        <p class="muted"> heo dau dat</p>
        <p class="text-warning"> heo dau data</p>
        <p class="text-error"> heo dau dat</p>
        <p class="text-info">heo dau dat</p>
        <p class="text-success"> heo dau dat</p>

        <!---     dinh nghia viet tat    -->
        <abbr title="Ngoc Anh">nga</abbr>
        <abbr title="Ngoc Annh" class="initialism">na</abbr>
        <!--          dia chi      ---->
        <address>
            <strong>Ngoc Anh</strong><br>
            Ngo 92, Nguyen Khanh Toan - CG - HN<br>
            <abbr title="Phone" class="initialism">P</abbr>: 0167.567.3753<br>
        </address>

        <address>
            <strong> Full Name : </strong><br>
            <a href="mailto:#">first.last@example.com</a>
        </address>
        <!--        tua chu ky   -->
        <blockquote>
            <p>ho va ten: le thi ngoc anh</p>
        </blockquote>
        <blockquote>
            <p> ngoc anh ngo nhat tren doi</p>
            <small>Someone famous<cite title="Source Title"> Source Title</cite></small>
        </blockquote>
        <blockquote class="pull-right">
            <p> dung tin no lua do, biet chua</p>
            <small>Someone famous<cite title="Source Title"> Anh Ngoc</cite></small>
        </blockquote>
        <!--           lists       --->
        <!--                          
            <ul>
                <li> </li>
        </ul>
        <ol><\ol>
        --->
        <ul>
            <li> So thich</li>
            <ol>
                <li> di bo</li>
                <li> doc truyen</li>
                <li>nghe blog radio </li>
                <li> cung ng ay di choi</li>
            </ol>
            <li> Khuyet diem</li>
        </ul>

        <ol class="unstyled">
            <li>  ngo oi la ngo</li>
            <li> ngoc xit</li>
        </ol>

        <ol class="inline">
            <li> anh ngo</li>
            <li> ngoc xit</li>
            <li> ga lam co</li>
        </ol>   

        <!--      Mo Ta     -->
        <dl>
            <dt>Dinh nghia:</dt>
            <dd>dien dat mot dieu gi do mot cach ro rang hon</dd>
            <dt>Dinh ly:</dt>
            <dd>mot dinh ly </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>Dinh nghia:</dt>
            <dd>dien dat mot dieu gi do mot cach ro rang hon</dd>
            <dt>Dinh ly:</dt>
            <dd>mot dinh ly </dd>
        </dl>
        <!---             viet doan ma code        -->
        <code>&lt;section&gt;</code> should be wrapped as inline.

        <pre>
            &lt;p&gt;Sample text here....&lt;/p&gt;
        </pre>
        <pre class="pre-scrollable">
            &lt;p&gt;Sample text here...&lt;/p&gt;
        </pre>

        <!--      Tables         -->
        <table class="table">
            <tr>
                <th>Thu 2</th>
                <th>Thu 3</th>
                <th>Thu 4</th>
                <th>Thu 5</th>
                <th>Thu 6</th>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
        </table>
        <hr>
        <table class="table table-striped">
            <tr>
                <th>Thu 2</th>
                <th>Thu 3</th>
                <th>Thu 4</th>
                <th>Thu 5</th>
                <th>Thu 6</th>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
        </table>
        <hr>
        <table class="table table-bordered">
            <tr>
                <th>Thu 2</th>
                <th>Thu 3</th>
                <th>Thu 4</th>
                <th>Thu 5</th>
                <th>Thu 6</th>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
        </table>
        <hr>

        <table class="table table-hover">
            <tr>
                <th>Thu 2</th>
                <th>Thu 3</th>
                <th>Thu 4</th>
                <th>Thu 5</th>
                <th>Thu 6</th>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
        </table>
        <hr>
        <table class="table table-condensed">
            <tr>
                <th>Thu 2</th>
                <th>Thu 3</th>
                <th>Thu 4</th>
                <th>Thu 5</th>
                <th>Thu 6</th>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr>
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
        </table>
        <!-- Optional row classes   -->
        <table class="table">
            <tr class="info">
                <th>Thu 2</th>
                <th>Thu 3</th>
                <th>Thu 4</th>
                <th>Thu 5</th>
                <th>Thu 6</th>
            </tr>
            <tr class="success">
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr class="error">
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
            <tr class="warning">
                <td>toan</td>
                <td> van</td>
                <td>su</td>
                <td> anh</td>
                <td>dia</td>
            </tr>
        </table>
        <hr>
        <!--                            -->
        <table class="table">
            <caption>anh ngo</caption>
            <thead>
                <tr>
                    <td>anh ngo</td>
                    <td> anh ngo</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>anh ngo</td>
                    <td>anh ngo</td>
                </tr>
            </tbody>
        </table>

        <!-            Forms         --->
        <!--- Default styles - Dang mac dinh-->
        <form>
            <fieldset>
                <legend>Ngoc Anh</legend>
                <label>Label Name</label>
                <input type="text" placeholder="Type something...">
                <span class="help-block">Example block-level help text  here.</span>
                <label class="checkbox">
                    <input type="checkbox">Check me out
                </label>
                <button type="submit" class="btn">Submit</button>
            </fieldset>
        </form>
        <!--          Optional layouts       -->
        <!--- Search Form   -->
        <form class="form-search">
            <input type="text" class="input-medium-search-query">
            <button type="submit" class="btn"> Submit</button> 
        </form>
        <hr>
        <!--          Inline form       -->
        <form class="form-inline">
            <input type="text" class="input-small" placeholder="Email">
            <input type="text" class="input-small" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox"> Remember in 
            </label>
            <button type="submit" class="btn">Sign in</button>
        </form>
        <hr>
        <!--   Horizontal form    -->
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputEmail"> Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword"> Password</label>
                <div class="controls">
                    <input type="text" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox">Remember me
                    </label>
                    <button type="submit" class="btn">Sign in</button>
                </div>
            </div>
        </form>
        <hr>
        <!---    Supported form controls   -->
        <!--     Inputs      -->
        <input type="text" placeholder="text input">
        <hr>    
        <!---Textarea--->
        <textarea rows="3"></textarea>
        <!--   Checkbox and Radio--->
        <!--- Checkbox and Radio - Default (stack)                      --->
        <label class="checkbox">
            <input type="checkbox" value="">
            ho va ten le thi ngoc anh
        </label>

        <label class="radio">
            <input type="radio" name="optionsRadios" id="optionRadios1" value="option1" checked>
            ho va ten le thi ngoc anh
        </label>

        <label class="radio">
            <input type="radio" name="optionsRadios" id="optionRadios2" value="option2">
            ho va ten le thi ngoc anh
        </label>

        <!---Checkbox and radio -   Inline Checkboxex - cac hop chon xuat hien tren mot dong--->
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1">Bong da
            <input type="checkbox" id="inlineCheckbox2" value="option2">Cau long
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Quan vot


        </label>
        <hr>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1">Bong da
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2">Cau long
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Quan vot
        </label>   

        <!---Images--->
        <img src="\public\demo\images\a2.jpeg" class="img-rounded" >
        <img  src="\public\demo\images\a2.jpeg" class="img-circle">
        <img src="\public\demo\images\a2.jpeg" class="img-polaroid">

        <!--        Selects         -->
        <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <select multiple="multiple">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        
        <!----Extending form controls----->
        <!---      Default options  --->
        <div class="input-prepend">
            <span class="add-on">@</span>
            <input class="span2" id="prependedInput" type="text" placeholder="User name">
        </div>
        <div class="input-append">
            <input class="span2" id="appendInput" type="text">
            <span class="add-on">.00</span>
        </div>
        <hr>
        <!-----       Combined - ghep noi      ------>
        <div class="input-prepend input-append">
            <span class="add-on">$</span>
            <input class="span2" id="prependappendInput" type="text">
            <span class="add-on"> Go!</span>
        </div>
        
        <!-----Button Dropdown------->
        <div class="input-append">
            <input class="span2" id="inputappendButtonDropdown" type="text">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    Action
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>anh ngo</li>
                    <li>anh ngo</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="input-append">
  <input class="span2" id="appendedDropdownButton" type="text">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      Action
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
       <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </ul>
  </div>
</div>
        
        <!-----Uneditable inputs -  dau vao khong the chinh sua--------->
        <span class="input-xlarge uneditable-input">Some value here</span>
    
    <!--Form actions--->
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"> Save Changes</button>
        <button type="submit" class="btn"> Cancel</button>
    </div>
    
    <!-- Invalid input - kiem tra tinh hop le cua du lieu nhap vao--->
    <input class="span3" type="email" required>
    
    </body>
</html>
