i<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/public/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />
<title>MyBlog</title>
</head>
<body>
    
        <div id="wapper">
            <div id="header"><img src="/public/demo/images/a1.jpg"  width="911px" height="80px"/>
            <div id="navMenu">
                <ul>
                    <li><a href="#"> Cac Bai Dang</a> 
                        <ul>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                             <li><a href="#"> Tam Trang</a></li>
                        </ul>
                           
                        
                    </li>
                </ul>
                
                <ul>
                    <li><a href="#"> Cac Bai Dang</a> 
                        <ul>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                             <li><a href="#"> Tam Trang</a></li>
                        </ul>
                           
                        
                    </li>
                </ul>
                
                 <ul>
                    <li><a href="#"> Cac Bai Dang</a> 
                        <ul>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                             <li><a href="#"> Tam Trang</a></li>
                        </ul>
                           
                        
                    </li>
                </ul>
                
                 <ul>
                    <li><a href="#"> Cac Bai Dang</a> 
                        <ul>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                             <li><a href="#"> Tam Trang</a></li>
                        </ul>
                           
                        
                    </li>
                </ul>
                
                 <ul>
                    <li><a href="#"> Cac Bai Dang</a> 
                        <ul>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                             <li><a href="#"> Tam Trang</a></li>
                        </ul>
                           
                        
                    </li>
                </ul>
                
                 <ul>
                    <li><a href="#"> Cac Bai Dang</a> 
                        <ul>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                            <li><a href="#"> Tam Trang</a></li>
                             <li><a href="#"> Tam Trang</a></li>
                        </ul>
                           
                        
                    </li>
                </ul>
            </div>
        </div>
            
            <!-- khung giua -->
            <div id="main">
                <div id="lefMain">
                    
                    <div id="search">
                        
                    </div>
                    
                    
                    <ul>
                        <li> <a href="#">Cac bai dang moi nhat</a></li>
                        <li><a href="#"> Ban be</a></li>
                    </ul>
                </div>
                <div id="centerMain">
                    
                </div>
            </div>
         <!-- footer --->   
         <div id="footer">
             <p align="center"> Moi thong tin chi tiet xin vui long lien he:
             mail: anh_coi@yahoo.com
             sdt: 1900100</p>
         </div>
              
    </div>
</body>
</html>