<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <html>
    <head>
        <title>Kết quả học tập </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <!--  Bootstrap -->
         <link rel="stylesheet" media="screen" href="/public/bootstrap/css/bootstrap.min.css" />
        <script src="/public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        
        <!---        JQuery   ----->
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    
        <!-- Less -->
        <link rel="stylesheet/less" type="text/css" href="@{'/public/stylesheets/less/trangchu.less'}">
       
        <!--       CSS        ---->
        <link rel="stylesheet/less" type="text/css" href="/public/stylesheets/style.css"> 
    </head>
    <body>
        <h3>Xin chào sinh viên: Lê Thị Ngọc Ánh  =>  Kết quả học tập</h3>
        <hr>
        
        <table class="table table-bordered">
            <tr>
                <th>Mã môn học</th>
                <th>Tên môn học</th>
                <th>Điểm hệ 4</th>
                <th>Điểm hệ 10</th>
                <th>Điểm chư</th>
                <th>Chi tiết</th>
            </tr>
            <tr>
                <td>MA1</td>
                <td>Giải tích 1</td>
                <td>4.</td>
                <td>9.0</td>
                <td>A</td>
                <td></td>
            </tr>
        </table>
    </body>
</html>
