<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
         <link rel="stylesheet" href="/public/style.css" type="text/css" media="screen" title="no title" charset="utf-8" />
    </head>
    <body>
       <div id="main">
    <div id="head"> 
        <h1 align="center"> Cong thong tin dao tao DH QGHN</h1>
        <img src="\public\demo\images\header.PNG" height="150" width="1000">
    </div>
    <!--
           <div id="head-link"> 
               <p >  Cong thong tin dao tao truong dai hoc quoc gia ha noi</p>
    </div>
    -->
           <div id="left">
                <ul>
                    &NotTilde;<br><br><br>
                <li><a href="#"><h3 align="left">Thông tin cá nhân</h3></a></li><br>
                <li><a href="#"> <h3>Đăng ký môn học</h3></a></li><br>
                <li><a href="#"> <h3>Kết quả học tập</h3></a></li><br>
                <li><a href="#"> <h3>Thời khóa biểu</h3></a></li><br>
                <li><a href="#"><h3> Lịch thi</h3></a></li><br>
            </ul>
    </div>
    
    <div id="content">ngocanh
    </div>
   <!--
    <div id="right">
    </div>
   -->
    <div id="footer">
        <h1 align="center"> website: www.http//daotao.vnu.edu.vn</h1>
    </div>
</div>
    </body>
</html>
