<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Thông tin cá nhân </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <!--  Bootstrap -->
         <link rel="stylesheet" media="screen" href="/public/bootstrap/css/bootstrap.min.css" />
        <script src="/public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        
        <!---        JQuery   ----->
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    
        <!-- Less -->
        <link rel="stylesheet/less" type="text/css" href="@{'/public/stylesheets/less/trangchu.less'}">
       
        <!--       CSS        ---->
        <link rel="stylesheet/less" type="text/css" href="/public/stylesheets/style.css"> 
    </head>
    <body>
        <div id="container">
            
            <div id="left-container">
                <!---    Ảnh hiển thị ---->
                 <img src="\public\demo\images\a2.jpeg" class="img-polaroid">
                 <div id="lienket">
                     <li src=""><a href="#">Sửa thông tin cá nhân</a></li>
                     <li><a href="#">Thay đổi mật khẩu</a></li>
                 </div>
            </div>
            <div id="right-container">
                <ol>
                    <li><b>Thông tin cá nhân</b></li>
                    <hr>
                    <ul>
                        <li>Họ và tên: Lê Thị Ngọc Ánh</li>
                        <li>Mã sinh viên: 134345</li>
                        <li>Ngày sinh: 20/8/1991</li>
                        <li>Nguyên quán:</li>
                    </ul>
                </ol>
                <ol>
                    <li><b>Thông tin liên hệ</b></li>
                    <hr>
                    <ul>
                        <li>Email: Lethingocanhk54a2@gmail.com</li>
                        <li>Phone Number: 123456</li>
                    </ul>
                </ol>
                <ol>
                    <li><b>Thông tin gia đình</b></li>
                                <hr>
                                <ul>
                                    <li>Họ và tên Bố:</li>
                                    <li>Ngày sinh:</li>
                                    <li>Họ và tên Mẹ:</li>
                                    <li>Ngày sinh:</li>
                                    <li>Nguyên quán: Nam Định</li>
                                </ul>
                </ol>
                <ol>
                    <li><b> Sở thích</b></li>
                    <hr>
                    <ul>
                        <li>Đọc sách</li>
                        <li>Nấu ăn</li>
                        <li>Home</li>
                    </ul>
                </ol>
            </div>
        </div>
       
        
    </body>
</html>
