<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Layout Bootstrap</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--         Bootstrap     -->
        <link rel="stylesheet" media="screen" href="/public/bootstrap/css/bootstrap.min.css" />
        <script src="/public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- .............. CSS.............-->
  
        <link rel="stylesheet" href="/public/demo/vidu.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
    </head>
    <body>
        <!----   Layout Bootstrap   ----->
        
        <div class="container-fluid">
            <div class="navbar">
                <!-- navbar content --->
                ngocanh
            </div>
            <div class="row-fluid columns">
                <div class="span2 article-tree">
                    <!-- Navigation colum -->
                    ngocanh
                </div>
                <div class="span10 content-area">
                    <!-- content colum -->
                    ngocanh
                </div>
            </div>
            <div class="footer">
                <!--- footer content --->
                ngocanh
            </div>
        </div>
        <hr>
        <div class="container-fluid wrapper"> class="container-fluid wrapper">

  <div class="row-fluid columns content"> <div class="row-fluid columns content"> 

    <div class="span2 article-tree"><div class="span2 article-tree">
      navigation column
    </div></div>

    <div class="span10 content-area"><div class="span10 content-area">
      content column 
    </div></div>
  </div></div>

  <div class="footer"><div class="footer">
     footer content
  </div></div>

    </body>
</html>
